section{
    background-color: rgb(238 245 254);
    border: 1px solid rgba(59, 130, 246, 0.2);
    padding: 1rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 40vw;
}